 @font-face {
     font-family:"Miso Light";
     src: url("miso-light.ttf") format("truetype"),
     url("miso-light.otf") format("otf");
     font-weight:normal;
     font-style:normal;
}
@font-face {
    font-family:"Miso Bold";
    src: url("miso-bold.ttf") format("truetype"),
    url("miso-bold.otf") format("otf");
    font-weight:normal;
    font-style:normal;
}
